<div class="cart-container">
    <div class="header">
        <p style="padding: 1rem; cursor: default;"><i class="fa-solid fa-cart-shopping"></i> Mi carrito:</p>

        <button type="submit" (click)="showSum = true">
            VER PEDIDO
        </button>
    </div>
    @if (cart().length === 0) {
    <div class="no-prods">
        <p>No hay productos en el carrito</p>
        <button type="submit" [routerLink]="['/']" fragment="catalog" (click)="setCategoria(null)">Empezar a
            comprar!</button>
    </div>
    } @else {
    @for (cartItem of cart(); track cartItem.prod.id + '-' + cartItem.format.formatId) {
    <div class="cart-item">
        <button class="remove-btn" (click)="removeItem(cartItem.prod, cartItem.format)"><i
                class="fa-solid fa-xmark"></i></button>

        <img [src]="cartItem.format.img" alt="{{cartItem.prod.prodName}}" class="product-image"
            [routerLink]="['/detalles', cartItem.prod.id]" [queryParams]="{formatId: cartItem.format.formatId}" />

        <div class="item-info">
            <h1 class="product-name" [routerLink]="['/detalles', cartItem.prod.id]"
                [queryParams]="{formatId: cartItem.format.formatId}">{{ cartItem.prod.prodName }}</h1>
            <p class="product-details">
                {{ cartItem.format.um }} | {{ cartItem.format.format }}
            </p>
            <div class="product-price">
                <p> {{cartItem.format.precioFinal | currency:'EUR':'symbol' }}</p>
                <span>* Precio por ud. sin IGIC incluido</span>
            </div>

            <div class="quantity-controls">
                <button class="qty-btn left" [disabled]="isMinusDisabled(cartItem.cantidad)"
                    (click)="changeQty(cartItem.format, -1)"><span>-</span></button>
                <input type="number" name="cantidad" class="qty-value" [(ngModel)]="cartItem.cantidad"
                    (blur)="updateQty(cartItem.format, cartItem.prod, $event)"
                    (keyup.enter)="updateQty(cartItem.format,cartItem.prod, $event)" [min]="1" />

                <button class="qty-btn right" (click)="changeQty(cartItem.format, 1)"><span>+</span></button>
            </div>
        </div>
    </div>
    }
    }
</div>
@if (showSum){
<app-order-modal (close)="showSum = false"></app-order-modal>
}