<footer class="footer">

    <div class="footer-container">
        <div class="footer-left">
            <img src="assets/imgs/logo.png" alt="" width="200" height="100">
            <p><b>&copy; 2025 HEFM</b>.</p>
        </div>
        <div class="footer-center">
            <a [routerLink]="['/']">Sobre Nosotros</a>
            <a [routerLink]="['/']" fragment="catalog">Productos</a>
            <a href="mailto:hectorfmatthews@gmail.com">Contacto</a>
        </div>
        <div class="footer-right">
            Email: info&#64;hefm.com
            <p>Phone: +34 673 215 205
        </div>
    </div>
</footer>