<div class="container">
    <div class="link-container" [routerLink]="['/carrito']">

        <div class="pedido">
            <div class="total">
                <span class="label">Total:</span>
                <span class="value" style="font-family: monospace;">{{orderService.totalWithIGIC |
                    currency:'EUR':'symbol':'1.2-2'}}</span>
            </div>

            <div class="msj">
                *IGIC incluido
            </div>

        </div>
        <div class="cart">
            <i class="fa-solid fa-cart-shopping"></i>
        </div>

    </div>

    <button type="submit" (click)="showSum = true">
        Mi pedido
    </button>

</div>

@if (showSum){
<app-order-modal (close)="showSum = false"></app-order-modal>
}