<div class="about-us">
    <div class="title">
        <h1>HEFM - Distribución</h1>
        <div class="about-us-img">
            <img src="" alt="">
        </div>
    </div>

    <section>
        <h2>¿QUIENES SOMOS?</h2>
        <p>
            Los hermanos FERNÁNDEZ MATTHEWS, HAROLD EDUARDO Y HECTOR ENRIQUE, de ahí las siglas de su Logo
            <span>H.E.F.M.</span>, con
            diez años de trayectoria en Gran Canaria siguen consolidándose como referentes en la actividad especializada
            en la comercialización y distribución de: productos alimenticios, accesorios, partes y piezas de repuestos,
            y lubricantes para motores marinos y vehículos automotores.
        </p>
        <p>
            De cara al futuro se están incorporando a la nueva generación, que está impulsando la digitalización, a
            través de sitios web y aplicaciones móviles, para lograr conectar con mayor eficiencia, con una comunidad de
            clientes que cada vez más utiliza estos medios.
        </p>
        <p>
            El objetivo es expandir su cartera de productos y ofrecer soluciones innovadoras, manteniendo los principios
            de: <span>HONESTIDAD, EFICIENCIA, FIABILIDAD y MÁS (+)</span> que siempre los han distinguido.
        </p>
        <p>
            El equipo está dedicado a explorar nuevas oportunidades y a asegurar que la empresa siga siendo un actor
            clave y moderno en la distribución local.
        </p>
        <br><br>
        <p><b>Esperamos poder satisfacer sus necesidades en Gran Canaria a través de este Sitio Web.</b></p>

    </section>
</div>