<div class="about-us">
    <div class="title">
        <h1>SOBRE<br>NOSOTROS</h1>
        <div class="about-us-img">
            <img src="" alt="">
        </div>
    </div>

    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque illum harum itaque enim fuga provident
        aliquid
        nemo consequuntur vel unde. Tempora optio magni amet quibusdam! Consectetur voluptatibus saepe maiores
        eaque.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque illum harum itaque enim fuga provident
        aliquid
        nemo consequuntur vel unde. Tempora optio magni amet quibusdam! Consectetur voluptatibus saepe maiores
        eaque.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque illum harum itaque enim fuga provident
        aliquid
        nemo consequuntur vel unde. Tempora optio magni amet quibusdam! Consectetur voluptatibus saepe maiores
        eaque.

    </p>
    <div class="svg-wave">
        <svg viewBox="0 0 1400 54" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
            class="svg-wave">
            <g clip-path="url(#clip0)">
                <path d="M-15.0079 22.92C354.732 63.38 953.596 -55.05 1437.13 45.63L1400 55H0L-15.0079 22.92Z"
                    fill="var(--main-bg)" />
            </g>
            <defs>
                <clipPath id="clip0">
                    <rect width="1400" height="54" fill="white" />
                </clipPath>
            </defs>
        </svg>
    </div>
</div>