<div class="about-us">
    <div class="title">
        <h1>SOBRE<br>NOSOTROS</h1>
        <div class="about-us-img">
            <img src="" alt="">
        </div>
    </div>

    <section>
        <p>
            Los hermanos FERNÁNDEZ MATTHEWS, HAROLD EDUARDO Y HECTOR ENRIQUE, de ahí las siglas de su Logo
            <span>H.E.F.M.</span>, son
            el fruto de familias emprendedoras en actividades relacionadas con el comercio y distribución, los
            servicios, remodelación de embarcaciones de vida a bordo y su logística, así como en la gestión y
            administración.
        </p>
        <p>
            En el ámbito de los servicios han incursionado en el turismo convencional y especializado, en este último,
            en la actividad de Vida a Bordo dedicada a la Pesca Fly y Buceo Contemplativo, desarrollada en Archipiélago
            de Jardines de la Reina en Cuba, llamado así por Cristóbal Colón en honor a la Reina de España, Isabel I de
            Castilla. <a href="https://www.cubanfishingcenters.com" target="_blank">www.cubanfishingcenters.com</a> y <a
                href="https://www.cubandivingcenters.com" target="_blank">www.cubandivingcenters.com</a>
        </p>
        <p>
            En el Parque Nacional Marino de Jardines de la Reina, una joya de la biodiversidad es muy importante
            destacar el trabajo de conservación, protección y gestión sostenible. En reconocimiento a este empeño fue
            nombrada una Concha del género ondulina como, <b><i>Ondulina haroldi</i></b>, en honor a Harold Eduardo
            Fernández
            Matthews
            de Blue Sanctuary-Avalon y Marlin, por dedicar prácticamente toda su vida entera a que Jardines de la Reina
            sea un ejemplo de turismo sostenible, además de apoyar a sus científicos y conservacionistas.
        </p>
        <p>
            En el comercio y distribución de productos alimenticios como en la de: partes, piezas y repuestos para
            embarcaciones, así como lubricantes para motores marinos y vehículos en general gozan de un gran prestigio
            logrado y sustentado por los principios que los distinguen de:
        </p>
        <br><span class="highlight">HONESTIDAD – EICIENCIA – FIABILIDAD – MÁS(+)</span>
        <br><br>
        <p><b>Esperamos poder satisfacer sus necesidades en Gran Canaria a través de este Sitio Web.</b></p>

    </section>
    <div class="svg-wave">
        <svg viewBox="0 0 1400 54" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
            class="svg-wave">
            <g clip-path="url(#clip0)">
                <path d="M-15.0079 22.92C354.732 63.38 953.596 -55.05 1437.13 45.63L1400 55H0L-15.0079 22.92Z"
                    fill="var(--main-bg)" />
            </g>
            <defs>
                <clipPath id="clip0">
                    <rect width="1400" height="54" fill="white" />
                </clipPath>
            </defs>
        </svg>
    </div>
</div>