<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Si el archivo o directorio existe, se sirve normalmente
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Si no existe, redirige todas las rutas a index.html
  RewriteRule ^ index.html [L]
</IfModule>